{% include 'adminheader.html' %}

	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/static/images/image2.jpg);height:auto !important">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
			<center>
	

	<form method="post">
	
		{% if data['pro'] %}
		<h2>update Station Master</h2>
	<table class="table" style="width: 600px;color: white">
			
			<tr>
				<th>station</th>
				<td><select name="station" class="form-control">
				{% for row in data['station'] %}
					<option value="{{row['station_id']}}">{{row['station_name']}}</option>
				{% endfor %}
				</select></td>
			</tr>
		
			<tr>
				<th>Frist Name</th>
				<td><input type="text" name="fname" class="form-control" value="{{data['pro'][0]['first_name']}}"></td>
			</tr>

			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname" class="form-control" value="{{data['pro'][0]['last_name']}}"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" name="email" class="form-control" value="{{data['pro'][0]['email']}}"></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><input type="text" name="address" class="form-control" value="{{data['pro'][0]['address']}}"></td>
			</tr>

			<tr>
				<th>Phone</th>
				<td><input type="number" name="number" class="form-control" value="{{data['pro'][0]['phone']}}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place"  class="form-control" value="{{data['pro'][0]['place']}}"></td>
			</tr>
			<tr>
				<th>Qualification</th>
				<td><input type="text" name="Qualification" class="form-control" value="{{data['pro'][0]['qualification']}}"></td>
			</tr>
			
			<tr>
				
				<td><input type="submit" class="btn btn-success" name="update"></td>
			</tr>
		
	</table>
	{% else %}

			<h2>Manage Station Master</h2>
	
	<table class="table" style="width: 600px;color: white">
			
			<tr>
				<th>station</th>
				<td><select name="station" class="form-control">
				{% for row in data['station'] %}
					<option value="{{row['station_id']}}">{{row['station_name']}}</option>
				{% endfor %}
				</select></td>
			</tr>
		
			<tr>
				<th>Frist Name</th>
				<td><input type="text" name="fname" class="form-control"></td>
			</tr>

			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname" class="form-control"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" name="email" class="form-control"></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><input type="text" name="address" class="form-control"></td>
			</tr>

			<tr>
				<th>Phone</th>
				<td><input type="number" name="number" class="form-control"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" class="form-control"></td>
			</tr>
			<tr>
				<th>Qualification</th>
				<td><input type="text" name="Qualification" class="form-control"></td>
			</tr>
			<tr>
				<th>username</th>
				<td><input type="text" name="name" class="form-control"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input type="password" name="password" class="form-control"></td>
			</tr>
			
			<tr>
				
				<td><input type="submit" class="btn btn-success"name="submit"></td>
			</tr>
		
	</table>
	{% endif %}
</form>


					</div>
						</div>
					</div>
						
				</div>
			</div>
		</div>
	</header>
	
<br>
<br>
<br>
<center>
<h2>master view</h2>
<table class="table" style="width: 600px;color: black">
		<tr>
			<td>s1. no</td>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
			<th>address</th>
			<th>phone</th>
			<th>place</th>
			<th>qualification</th>
			
		</tr>
		
			{% for row in data ['master']%}
		
		<tr>
			<td>{{loop.index}}</td>
			<th>{{row['first_name']}}</th>
			<th>{{row['last_name']}}</th>
			<th>{{row['email']}}</th>
			<th>{{row['address']}}</th>
			<th>{{row['phone']}}</th>
			<th>{{row['place']}}</th>
			<th>{{row['qualification']}}</th>
		    <td><a  class="btn "href="?action=delete&id={{row['master_id']}}">delete</a></td>
		    <td><a href="?action=update&id={{row['master_id']}}">update</a></td>	
		</tr>
		{%endfor%}
	</table>

</center>


	
{% include 'footer.html' %}